*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.calculater{
    height: 95vh;
    border: 1px solid white;
    padding: 20px;
    border-radius: 13px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(100,128,182,0.5);


}
input{
    width: 320px;
    height: 100px;
    border: none;
    outline: none;
    padding: 20px;
    text-align: right;
    font-size: 35px;
    margin: 10px;
    box-shadow: 0px 3px 16px rgba(84,84,84,0.2);
}
input::placeholder{
    color: black;
}
button{
    border: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 7px 29px rgba(94,94,116,0.5);
    margin: 8px;
    font-size: 24px;

}
.eqlbtn{
    background-color: #fb7c14;
    font-weight: 700;
    color: white;
}
.ac{
background-color: #84d244;
font-weight: 700;
    color: white;
}
.optr{
    color: #6dee0a;
    font-weight: 700;
}